body {
  margin: 0 auto;
}

footer p {
  margin-left: 20px;
  color: rgb(41, 40, 40);
}

.footer-div {
  background-color: #f2f1f1;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 3rem;
  padding-top: 0.3rem;
  padding-bottom: 0.5rem;
}
#footer-contact {
  color: #7d7777;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 400px) {
  .footer-div {
    position: fixed;
    bottom: 0;
  }
}
