@font-face {
  font-family: "Vitro_core";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Vitro_core.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SBAggroM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  font-family: "Cafe24SsurroundAir";
}

header {
  width: 100%;
  height: 100px;
  position: flex;
}

#headers {
  display: flex;
  margin: 10px;
  padding: 1.2rem;
  /* background-color: green; */
  justify-content: space-between;
}

#service-name {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Vitro_core";
}

.navigator {
  margin: 5px;
  margin-right: 10px;
}

#menu-btn:hover {
  box-shadow: 5px 5px 5px 5px gray;
}

#menu-btn {
  border: 0;
  outline: 0;
  background-color: transparent;
  position: fixed;
  right: 15px;
  z-index: 100;
}

.menu {
  display: block;
  margin-top: 5px;
  position: fixed;
  z-index: 100;
  right: 45px;
  top: 50px;
}
.menu :hover {
  background-color: black;
  font-weight: bold;
  color: bule;
}

#drop-menu {
  color: red;
  padding-top: 20px;
  padding-bottom: 20px;

  text-align: center;
}

#drop-menu a {
  text-decoration-line: none;
}
