.log-in-box {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

#log-in-title {
  font-size: 3rem;
  font-weight: bold;
  font-family: KOTRALEAP;
}

input[type="text"] {
  font-size: 1.3rem;
}

#user-id-box {
  margin-top: 3rem;
}

#user-pw-box {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#user-log-in-btn {
  width: 50%;
  height: 80px;
  margin-top: 1rem;
  border: 0.3rem solid #d0bcbc;
  border-radius: 1rem;

  background-color: #f9f7f7;
  font-weight: bold;
  font-size: 1.3rem;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#user-log-in-btn:hover {
  background-color: #e9d4d4;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: 0.3rem solid #e06666;
}

#user-id-input,
#user-pw-input {
  width: 50%;
  height: 80px;
  border: 0.3rem solid #d0bcbc;
  border-radius: 2rem;
  font-size: 1.3rem;
}

#user-id-input:focus,
#user-pw-input:focus {
  outline: none;
  border: 0.3rem solid #e06666;
}

#log-in-id-title,
#log-in-pw-title {
  font-size: 1.3rem;
  margin-bottom: 2px;
}
