.thirdpage-main {
  display: grid;
  /* background-color: red; */
  border: "solid blue";
  margin: 1rem 4rem 1rem 4rem;
  width: 80%;

  margin-bottom: 1rem;

  justify-content: center;
  margin: 0 auto;
  grid-template-columns: 0.2fr 1fr 1fr 1fr 0.2fr;
  grid-auto-rows: 1fr 1.1fr 1.1fr 1.1fr;

  grid-template-areas:
    ".  hashtag-box hashtag-box hashtag-box ."
    ". video1 video2 video3 ."
    "video-prev-btn video4 video5 video6 video-next-btn "
    ". video7 video8 video9 . ";
}
#hashtag-box {
  grid-area: hashtag-box;
  background-color: pink;
  height: 200px;
}

#video1 {
  background-color: red;
  grid-area: video1;
}
#video2 {
  background-color: orange;
  grid-area: video2;
}
#video3 {
  background-color: yellow;
  grid-area: video3;
}
#video4 {
  background-color: green;
  grid-area: video4;
}
#video5 {
  background-color: blue;
  grid-area: video5;
}
#video6 {
  background-color: purple;
  grid-area: video6;
}
#video7 {
  background-color: palevioletred;
  grid-area: video7;
}
#video8 {
  background-color: papayawhip;
  grid-area: video8;
}
#video9 {
  background-color: paleturquoise;
  grid-area: video9;
}

#video-prev-btn {
  grid-area: video-prev-btn;
  justify-content: center;
  align-items: center;
}
#video-next-btn {
  grid-area: video-next-btn;
}
