#chart {
  margin: 0 auto;
  margin-bottom: -20px;
}

#chart-title {
  font-family: "KOTRALEAP";
  margin: 0 auto;
  text-align: center;
}

#chart-description {
  font-size: 1rem;
  font-family: "paybooc-Medium";
  margin: 0 auto;
  text-align: center;
  line-height: 160%;
  word-break: keep-all;
  width: 80%;
}

#intro-description {
  font-size: 1rem;
}

#next-btn {
  border: none;
  width: 20rem;
  height: 3rem;
  background-color: #e0d3d3;
  border-radius: 2rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1680px) {
  #intro-description {
    font-size: 1.2rem;
    max-width: 600px;
  }
}

@media screen and (max-width: 500px) {
  #chart-description {
    font-size: 0.8rem;
    word-break: break-all;
    min-width: 250px;
  }
  .chart1 {
    width: 100%;
  }
  #chart-title {
    font-size: 1.2rem;
    margin-top: 1.2rem;
  }
  .last-box {
    width: 300px;
  }
  #last-btn {
    width: 300px;
  }
  #next-btn {
    width: 280px;
    font-size: 0.8rem;
  }
  #intro-description {
    width: 280px;
  }
}

.home-main-title {
  word-break: keep-all;
  text-align: center;
}

#page5 {
  margin: 1rem;
}

#last-btn {
  margin-top: 1.5rem;
}

.next {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.next :hover {
  box-shadow: 0px 10px 28px -4px #a27979;
  font-weight: bold;
}

#next-btn a {
  text-decoration: none;
  font-size: 1.1rem;
  color: black;
}

#next-btn :active {
  text-decoration: none;
}

#last-description {
  font-size: 1.5rem;
  text-align: center;
  word-break: keep-all;
}

body {
  background-color: #f9f9f9;
  padding-bottom: 60px;
}
